<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field post-title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field post-content">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
 
  <div class="post-options">   
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    <div class="field hidden">
      <span class="glyphicon glyphicon-remove hidden"></span>
      <%= f.label :date_of_event %>
      <%= f.date_select :date_of_event, { :end_year => Date.today.year - 1000, :start_year => Date.today.year } %>
    </div>
    
    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    <div class="field hidden">
      <span class="glyphicon glyphicon-remove hidden"></span>
      <%= f.label :location %>
      <%= f.text_field :location, :id => 'autocomplete', :placeholder => 'Enter a location...' %>
    </div>  

    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
  </div>
  

  <div class="actions post-submit">
    <%= f.submit %>
  </div>
<% end %>

<script>
  var autocomplete;

  function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});
      }
</script>
