<p id="notice"><%= notice %></p>

<h1>Posts</h1>
  <% if @posts.exists? %>
    <% @posts.each do |post| %>
      <div class="post">
        <p class="post_author"><%= post.author[0, 1] %></p>
        <h3 class="post_title"><%= link_to post.title, post %></h3>
        
        <p class="post_content"><%= post.content %></p>
        <p class="hidden"><%= post.date_of_event %></p>
        <p class="hidden"><%= post.location %></p>
        <div class="post_likes">
          <p>Likes: <%= post.likes %></p>
          <p>Dislikes: <%= post.dislikes %></p>
        </div>
        
        <div class="post_options">
          <p><%= link_to 'Show', post %></p>
          <p><%= link_to 'Edit', edit_post_path(post) %></p>
          <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        

        
      </div>
      <div class="post_comments">
        <h5><strong>Comments</strong></h5>
        <% if post.comments.exists? %>
          <div class="post_comment single_comment">
            <p class="post_comment_author"><%= post.comments.first.author[0, 1] %></p>
            <p class="post_comment_content"><%= post.comments.first.content %></p>
            <p class="post_comment_see_more"><%= link_to 'See More', post %></p>
          </div>  
        <% else %>
          <p>Currently No Comments</p>
        <% end %>
      </div> 
    <% end %>
  <% else %>
    <p>Currently No Posts</p>
  <% end %>
<br>