  
  <h1>Posts</h1>
  <% if Post.exists? %>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort By<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Newest(Submitted)", posts_path(order: "newSub") %></li>
        <li><%= link_to "Oldest(Submitted)", posts_path %></li>
        <li><%= link_to "Newest(Event)", posts_path(order: "newEv") %></li>
        <li><%= link_to "Oldest(Event)", posts_path(order: "oldEv") %></li>
      </ul>
    </li>
    
    <% @posts.each do |post| %>
        <div class="post">
          <div class="postHeader">
            <%= image_tag post.user.image.url(:thumb), class: "postUserThumb" %>
            <div class="postInfo">
              <p class="postUserName">
                <%= post.user.first_name + " " + post.user.last_name %>
              </p>
              <p class="postDate">
                <%= post.created_at.strftime("%d %b") %>
              </p>  
            </div> <!-- END postInfo -->
          </div> <!-- END postHeader -->

          <div class="postBody">
            <h4><%= post.title %></h4>
            <p><%= post.content %></p>
          </div> <!-- END postBody -->

          <div class="postFooter">
            <p class="postComments">
              <%= post.comments.length %>
              <% if post.comments.length == 1 %>
                comment
              <% else %>
                comments
              <% end %> 
            </p>
            
          </div>

        </div> <!-- END post -->
      <% end %>
    <%= will_paginate @posts %>
  <% else %>
    <p>Currently No Posts</p>
  <% end %>

<br>