  
  <h1>Posts</h1>
  <% if Post.exists? %>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort By<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Newest(Submitted)", posts_path %></li>
        <li><%= link_to "Oldest(Submitted)", posts_path(order: "oldSub") %></li>
        <li><%= link_to "Newest(Event)", posts_path(order: "newEv") %></li>
        <li><%= link_to "Oldest(Event)", posts_path(order: "oldEv") %></li>
      </ul>
    </li>
    
    <% @posts.each do |post| %>
        <div class="post">
          <div class="postHeader">
            <%= link_to (image_tag post.user.avatar.url(:thumb), class: "postUserThumb"), user_path(post.user.id) %>
            <div class="postInfo">
              <p class="postUserName">
                <%= link_to (post.user.first_name + " " + post.user.last_name), user_path(post.user.id) %>
              </p>
              <p class="postDate">
                <%= post.created_at.strftime("%d %b") %>
              </p>  
            </div> <!-- END postInfo -->
          </div> <!-- END postHeader -->

          <div class="postBody">
            <h4><%= link_to (post.title), post %></h4>
            <p><%= post.content %></p>
          </div> <!-- END postBody -->

          <div class="postFooter">
            <p class="postComments">
              <%= link_to(post_path(post, anchor: "commentsAnchor")) do %>
                <%= post.comments.length %>
                <% if post.comments.length == 1 %>
                  comment
                <% else %>
                  comments
                <% end %>
              <% end %>
            </p>
            
          </div>

        </div> <!-- END post -->
      <% end %>
    <%= will_paginate @posts %>
  <% else %>
    <p>Currently No Posts</p>
  <% end %>

<br>