<% content_for :post_id, @post.id.to_s %>
<!-- <p id="notice"><%= notice %></p> -->

<div class="post show-post">
  <h3 class="post-title">
    <strong><%= @post.title %></strong>
  </h3>

  <p class="show-post-author">
    by: 
    <em><%= @post.user.first_name %></em>
  </p>

  <p class="show-post-content">
    <%= @post.content %>
  </p>

  <div class="post_data">
    <p><%= @post.location %>, <%= @post.date_of_event %> </p>  
  </div>


  <div class="post_likes">
    <p>Likes: <%= @post.likes %></p>
    <p>Dislikes: <%= @post.dislikes %></p>
  </div>  
</div>

<div class="post_comments">
  <h5 id="commentsAnchor"><strong>Comments</strong></h5>
    <%= render "comments/form", comment: @comment %>
    <% if @post.comments.exists? %>
      <% if @post.comments.length > 1 %>
        <% @post.comments.reverse.each do |comment| %>
          <div class="post_comment">
            <p class="post_comment_author"><%= comment.user.first_name[0, 1] %></p>
            <p class="post_comment_content"><%= comment.content %></p>
          </div>  
        <% end %>
      <% else %>
        <div class="post_comment no-border">
          <p class="post_comment_author"><%= @post.comments.first.user.first_name[0, 1] %></p>
          <p class="post_comment_content"><%= @post.comments.first.content %></p>
        </div> 
      <% end %>
    <% else %>
      <p>Currently No Comments</p>
    <% end %>
</div> 


<div class="post_options">
  <% if (current_user) && (current_user.id == @post.user_id) %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Back', posts_path %>
</div>

