<p id="notice"><%= notice %></p>

<div class="post show-post">
  <h3 class="post-title">
    <strong><%= @post.title %></strong>
  </h3>

  <p class="show-post-author">
    by: 
    <em><%= @post.author %></em>
  </p>

  <p class="show-post-content">
    <%= @post.content %>
  </p>

  <div class="post_data">
    <p><%= @post.date_of_event %>, <%= @post.location %></p>  
  </div>


  <div class="post_likes">
    <p>Likes: <%= @post.likes %></p>
    <p>Dislikes: <%= @post.dislikes %></p>
  </div>  
</div>


<div class="post_options">
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>  
</div>

